<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view a Post</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="posts">
        <p>Id_num: <%= post.id %></p>
        <h2>Username: <%= post.username %></h2>
        <p>Content: <%= post.content %></p><br>
        <a class="toggle" href="http://localhost:4090/posts">Back</a>
    </div>
    
</body>
</html>